.CodeMirror .cm-spell-error { 
	background-image: url("https://raw.githubusercontent.com/jwulf/typojs-project/master/public/images/red-wavy-underline.gif");
	background-position: bottom;
	background-repeat: repeat-x;
}

#suggestBox {
  display:inline-block; overflow:hidden; border:solid black 1px;
  box-shadow: 5px 5px 5px black;
}

#suggestBox > select {
  padding:10px; padding-left: 0; margin:-5px -20px -5px -5px;
}

#suggestBox > select > option {
  padding-left: 1em;
  padding-right: 2em;
}

#suggestBox > select > option:hover {
  box-shadow: 0 0 10px 100px #4A8CF7 inset; color: white;
}
