.CodeMirror .cm-spell-error { 
	background-image: url("https://raw.githubusercontent.com/jwulf/typojs-project/master/public/images/red-wavy-underline.gif");
	background-position: bottom;
	background-repeat: repeat-x;
  border: 1px solid ;
  height: 150px; 
  width: 300px;
  margin-left:30px;
}

#suggestBox {
  display:inline-block; overflow:hidden; border:solid black 1px;
  box-shadow: 5px 5px 5px black;
}

#suggestBox > select {
  padding:10px; padding-left: 0; margin:-5px -20px -5px -5px;
}

#suggestBox > select > option {
  padding-left: 1em;
  padding-right: 2em;
}

#suggestBox > select > option:hover {
  box-shadow: 0 0 10px 100px #4A8CF7 inset; color: white;
}
.heading {
  text-align: center; 
}
.heading {
  text-align: center; 
}

form { 
  margin: 0 auto; 
  width:350px;
  height: 550px;
  }